SI/
.vscode/
build/
tools/
/build
/build/.cmake
/build
/build/.cmake/api/v1/reply
/build/.cmake/api/v1
/build/.cmake/api
/build/.cmake
*.json
/build
/build/*
/SI
SI/Untitled Project.si4project/cache/parse/src_hs_global.h.sisc
/SI
SI/Untitled Project.si4project/cache/parse/src_OLED_1in5_test.c.sisc
/SI
/SI/Untitled Project.si4project/cache
/build
